body {
  background: #ffffff;  /* fallback for old browsers */
  font-family: Montserrat;
  margin: 0px;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
}


a, a:hover {
  text-decoration: none;
}

p, ul, ol {
  font-size: 20px;
}

.cadre {
  background: #ffffff;
  border: 3px solid #000000;
  margin: 20px 100px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 5px 5px 10px grey;
}

.images44 {
  width: 960px;
  height: 400px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.color-green {
  color: #28A754;
}

.my-btn {
  display: inline-block;
  color: white;
  background: #28A754;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.my-btn:hover {
  color: white;
  opacity: 0.8;
}

.logo {
  height: 75px;
  margin: 5px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #28A754;
}

.link:hover {
  color: #28A754;
}


.line-transparent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line-light {
  height: 10px;
  width: 20%;
  background: #1C7330;
}

.line-medium {
  height: 10px;
  width: 30%;
  background: #62B575;
}

.line-hard {
  height: 10px;
  width: 50%;
  background: #28A754;
}


.horizontal-position {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}


.card-img-top1 {
  height: 400px;
  width: 100%;
  object-fit: cover;
}


.socials {
  font-size: 40px;
  color: green;
}

#mc_embed_signup {
  background: #E2F3DC;
  clear:left;
  width: 50%;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #28A754;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

